body {
    font-family: Lato, sans-serif;
    background-color: #000000;
    padding-top: 4.5rem;
    overflow-y: scroll;
}

h4,
h5 {
    line-height: 1.2;
    color: #ffffff;
    letter-spacing: .03rem;
    font-weight: 700;
}

p {
    color: rgba(225, 225, 225, .95);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3rem;
    letter-spacing: .02rem;
    line-height: 25px;
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.rc-wrapper-gallery {
    max-width: 1140px;
}

.newItem {
    border: 0;
}

.img-gallery-ph {
    background: url('gallery/phblack.svg');
    background-size: 586px;
}


.nav-item,
.nav-link,
.dropdown-item {
    z-index: 2;
    font-size: 13px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    opacity: 0.7;
    transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
    opacity: 1;
}

.rc-navbar-icons {
    min-width: 15px;
    min-height: 15px;
}

@media (max-width: 767.98px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: .9rem;
        font-weight: 300;
    }

    .rc-navbar-icons {
        min-width: 20px;
        min-height: 20px;
    }
}

.rc-navbar {
    min-height: 4.5rem;
    font-weight: 400;
    letter-spacing: .5px;
}

.blur-filter {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.rc-navbar-container {
    /*border-bottom: 1px solid #1c1c1e;*/
    background-color: rgba(0, 0, 0, .75);
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.no-backdropfilter .backdropfilter {
    background-color: rgba(0, 0, 0, 1);
}

.rc-navbar-container-inner {
    max-width: 1150px;
}

.rc-dropdown-menu {
    border: 0;
    min-width: 200px;
}

.dropdown-item:hover {
    background-color: #ddd;
}

/*ANIMATED TOGGLER (X)*/
.navbar-toggler.x {
    border: none;
}

.navbar-toggler.x:focus {
    outline: none;
}

.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.navbar-toggler.x .icon-bar {
    width: 22px;
    display: block;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-toggler.x .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-toggler.x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggler.x .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

/* GALLERT ITEM OVERLAY */
.rc-gallery-item-overlay .rc-gallery-item-overlay-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0)), to(rgba(34, 34, 34, 0.7)));
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0), rgba(34, 34, 34, 0.7));
    opacity: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    /* transition effect. not necessary */
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.rc-gallery-item-overlay .rc-gallery-item-overlay-inner:hover {
    opacity: 1;
}

.rc-gallery-item-overlay-text {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    user-select: none;
    position: absolute;
    bottom: 2.5rem;
    left: 1.2rem;
    right: 2.5rem;
    transition: opacity 0.3s ease-in-out 0s;
}

.rc-gallery-item-back-arrow {
    width: 5.5rem;
}

.rc-gallery-item-overlay-arrow {
    width: 4.5rem;
    position: absolute;
    bottom: .9rem;
    left: 1.2rem;
    right: 1rem;
    transition: opacity 0.3s ease-in-out 0s;
}




.rc-gallery-item-overlay:hover .rc-gallery-item-overlay-inner {
    transition: opacity 0.3s ease-in-out 0s;
}

.rc-dropdown-menu {
    background-color: rgba(28, 28, 30, 1);
}

.rc-dropdown-item {
    color: rgba(255, 255, 255, .5);
}

.rc-dropdown-item:hover {
    color: rgba(255, 255, 255);
    background-color: rgba(255, 255, 255, .05)
}

.rc-dropdown-item:focus {
    color: rgba(255, 255, 255);
    background-color: rgba(255, 255, 255, .12)
}

.dropdown-divider {
    border-color: rgba(255, 255, 255, .15);
}

.menu-icons {
    fill: #ffffff;
    max-width: 20px;
    margin-right: 3px;
}

.grid-item {
    width: 100%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}


/* ===============FLICKITY============== */

.scrollable {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: none;
}

.scrollable::-webkit-scrollbar {
    display: none;
}


.category-item {
    color: #ffffff;
    background-color: #000000;
    padding: 13px 16px 12px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 46px;
    font-size: 13px;
    cursor: pointer;
}

.category-item-selected {
    color: black;
    background-color: #ffffff;
}
/*
.category-item:last-child {
    border-right: 1px solid rgba(114, 124, 135, .2);
 
}*/

.category-item {
     display: inline-block;
    vertical-align: middle;
}

.catergory-overlay-right{
    pointer-events: none;
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 1;
    min-width: 4.5rem;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 50%,rgba(0,0,0,1) 100%);
}


/* ============================== */